

.conteiner-header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 70px;
    padding: 0 15px 0 15px;
    background-color: white;
    box-shadow: 1px 4px 12px rgb(194, 192, 192);
}
.header-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    
}
.conf-iguais{
    padding: 0 0.5rem;
    margin: 1rem 0;
}
.config-iguais svg{
    display: none;
}

.logo2{
    height: 35px;
}
a img {
    padding: 0;
    margin: 0;
}
.header-div a{
    font-size: 14px;
    text-decoration: none;
    color: rgb(73, 73, 73);
}

.barra-nav{
    border: 1px solid black;
    width: 35%;
    white-space: nowrap;
    display: flex;
    align-items: center;
    border-radius: 25px 25px 25px 25px;
    padding: 0 24px 0 0;
    margin: 0 12px;
}
.lupa2{
    border: none;
    height: 48px;
    width: 49px;
    background-color: transparent;
}
.input-barra{
    width: 100%;
    height: 34px;
    border: none;
}



.caixa-com-quatro{
    display: flex;
}
.caixa-com-quatro a{
    padding: 5px;
}
.icons img{
    height: 24px;
}
