@charset "UTF-8";


.conteiner-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    padding: 4px;
    background-color: white;
    box-shadow: 0px 4px 8px rgb(194, 192, 192);
}
.config-iguais{
    padding: 0px 8px;
    background-color: transparent;
    height: 100%;
    border: none;
}
.centralizador-items{
    display: flex;
    align-items: center;
}
.preencher{
    width: 40px;
    height: 100%;
}
.logo{
    height: 30px;
    
}
.icones-cabecalho{
    display: flex;
    align-items: center;
    height: 100%;
}

.svg{
    width: 24px;
    height: 24px;
}
.header-div{
    display: none;
}

/* FINAL DO CABECALHO TELA SMARTPHONE */
/* -------------------------------------------------------- */

.conteiner-body{
    padding: 24px 16px 48px;
}

.menu-opcoes li{
    padding: 4px 16px;
    list-style: none; 
}

ul.menu-opcoes{
    padding: 24px 0px;
}


.cabecalho{
    border: 1px solid rgb(185, 185, 185);
    text-align: center;
    padding: 16px 0;
}
h1{
    font-size: 24px;
    font-weight: 900;
}
.cabecalho p{
    margin-top: 8px;
}



textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
} 